body {
    background-color: darkred;
}

h1 {
color: white;
}

img {
    width: 300px;
    height: 300px;
    transition: transform 2s, rotate 3s;
}
img:hover {
    transform: translateX(1100px) rotate(360deg);
}
div {
    display: flex;
}
